.App {
  text-align: center;
  margin-top: 20px;
}

body {
  background-image: url('/art-studio.jpeg');
  background-size: cover; /* Cover the entire page */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the image */
  margin: 0; /* Remove default margin */
  height: 100vh; /* Full viewport height */
}


canvas {
  background-color: white;
  border: 1px solid black;
  display: block;
  margin: 20px auto;
}

h1 {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}